<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <div>
          <h1>Alle VRT-zenders op één plek.</h1>
          <p>Dit is een radiospeler waarmee je naar alle live streamende VRT-zenders kan luisteren. Deze webapp is ontwikkeld door <a href="https://www.pieterdedecker.be/" target="_blank">Pieter De Decker</a>.</p>

          <h2>Privacybeleid</h2>
          <p>Nirplay verzamelt geen persoonsgegevens, zet geen advertentiecookies en gebruikt geen tracking pixels.</p>

          <h2>Copyright</h2>
          <p>
            Om een bijgewerkte lijst van VRT-zenders te kunnen tonen en voor elke zender altijd de juiste streaming-URL te kunnen gebruiken, raadpleegt Nirplay een openbaar API van de VRT.
          </p>
          <p>
            Alle data die uit dit API wordt opgehaald, wordt enkel voor niet-commerciële doeleinden gebruikt. Alle merknamen, logo's, audiostreams en andere intellectuele eigendommen die via dit API beschikbaar gesteld worden, blijven eigendom van de VRT en haar partners. Deze eigendommen worden vanaf de servers van de VRT ingeladen in de browser van de gebruiker, vergelijkbaar met hoe je een YouTube-videoclip zou insluiten op een blog. Nirplay host op haar eigen servers geen intellectuele eigendommen van derde partijen tenzij toegelaten door hun <a href="https://github.com/vuetifyjs/vuetify/blob/dev/LICENSE" target="_blank">licentieovereenkomst</a>.
          </p>
        </div>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>
