<template>
  <div>
    <LiveList />
  </div>
</template>

<script>
// @ is an alias to /src
import LiveList from '@/components/LiveList.vue'

export default {
  components: {
    LiveList,
  },
}
</script>
