<template>
    <audio ref="player" v-bind:src="activeStationUrl" v-show="activeStationUrl" autoplay></audio>
</template>

<script>
export default {
    props: ['activeStationUrl', 'volume'],
    data () {
        return {
            // Last media event that was recorded. We don't hook in to all events. More info at
            // https://developer.mozilla.org/en-US/docs/Web/Apps/Fundamentals/Audio_and_video_delivery/Cross-browser_audio_basics.
            'lastEvent': null,
        }
    },
    mounted: function () {
        const eventsToHookInTo = ['abort', 'canplay', 'error', 'playing']
        for (const eventToHookInTo of eventsToHookInTo) {
            // Expose 'this' to the event listener callbacks below
            const component = this

            this.$refs.player.addEventListener(eventToHookInTo, function () {
                component.lastEvent = eventToHookInTo
            })
        }

        // Since the audio controller may be re-instantiated any number of times after page load, the default volume may need
        // to be adjusted if the user previously clicked a volume button. v-bind:volume doesn't have the same effect, so this
        // is necessary.
        this.$refs.player.volume = this.volume
    },
    computed: {
        /**
         * @returns true if the stream is currently buffering, false otherwise
         */
        buffering: function () {
            // 'abort' fires when switching between two streams
            return [null, 'canplay', 'abort'].includes(this.lastEvent)
        },
        /**
         * @returns true if audio is currently being played, false otherwise
         */
        playing: function () {
            return this.lastEvent === 'playing'
        },
        /**
         * @returns true if playback was unintentionally interrupted
         */
        errorred: function () {
            return this.lastEvent === 'error'
        },
    },
    watch: {
        volume: function (newValue) {
            this.$refs.player.volume = newValue
        }
    }
}
</script>