<template>
    <v-container fluid grid-list-md>
        <v-subheader>Beschikbare kanalen</v-subheader>
        <v-layout row wrap>
            <v-flex xs12 sm6 md4 grid-list v-for="channel in channels" :key="channel.id">
                <v-card>
                    <v-container>
                        <v-layout row fill-height class="radioStation">
                            <v-card-media class="stationImage" :src="channel.logoUrl" height="64px" contain></v-card-media>
                            <v-card-title class="stationName">{{ channel.name }}</v-card-title>
                            <div class="stationActions">
                                <v-btn small dark fab v-on:click="startChannel(channel)">
                                    <v-icon>play_arrow</v-icon>
                                </v-btn>
                            </div>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<style scoped>
.radioStation {
    display: flex;
}

.radioStation .stationImage {
    width: 64px;
}

.radioStation .stationName {
    flex-grow: 1;
}

.radioStation .stationActions {
    /* Use nested flex container to vertically center child elements of this element. */
    display: flex;
    align-items: center;
}
</style>

<script>
import VrtApi from '@/helpers/vrtApi.js'

export default {
  data() {
    return {
      channels: []
    };
  },
  created() {
    VrtApi.getChannels()
      .then(channels => (this.channels = channels))
  },
  methods: {
    startChannel: function (channel) {
        // Register intent to start playback of the specified channel with Vuex
        this.$store.commit('setLiveChannel', channel)
    }
  }
};
</script>