<template>
  <transition name="fade">
    <v-footer fixed app inset height="64px" v-if="activeLiveChannel">
      <v-container my-0 grid-list-mg fluid>
        <v-layout align-center>
          <div>
            <v-btn small dark fab @click="stop">
              <v-icon v-if="playing">stop</v-icon>
              <v-icon v-if="buffering" class="buffer-animation">cached</v-icon>
              <v-icon v-if="errorred">warning</v-icon>
            </v-btn>
          </div>
          <div class="live-info">
            <div class="body-2">{{ activeLiveChannel.name }}</div>
            <div class="caption hidden-xs-only">{{ activeLiveChannel.description }}</div>
          </div>
          <AudioController ref="controller" :activeStationUrl="activeStationUrl" :volume="volume"></AudioController>
          <v-btn-toggle v-model="volume" mandatory>
            <v-btn flat value="0.0" title="Gedempt">
              <v-icon>volume_off</v-icon>
            </v-btn>
            <v-btn flat value="0.2" title="Laag volume">
              <v-icon>volume_down</v-icon>
            </v-btn>
            <v-btn flat value="1.0" title="Normaal volume">
              <v-icon>volume_up</v-icon>
            </v-btn>
          </v-btn-toggle>
        </v-layout>
      </v-container>
    </v-footer>
  </transition>
</template>

<style scoped>
.live-info {
  flex-grow: 1;
}

/* Animation that plays when opening and closing the player */
.fade-enter-active, .fade-leave-active {
  transition: all .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/* Animation for the buffering icon */
.buffer-animation {
  animation: fullrotation 0.9s ease infinite;
}
@keyframes fullrotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>


<script>
import VrtApi from '@/helpers/vrtApi.js'
import AudioController from '@/components/AudioController.vue'

export default {
  props: ['activeLiveChannel'],
  components: {
    AudioController,
  },
  data () {
    return {
      activeStationUrl: null,

      // Binding the volume toggle's v-model attribute to this variable only works correctly we store the
      // variable as a string, presumably because the value attributes of the nested v-buttons are always
      // strings.
      volume: '1.0',
    }
  },
  methods: {
    stop () {
      // Register intention to stop audio playback with Vuex
      this.$store.commit('stop')
    }
  },
  computed: {
    /**
     * @returns true if an audio stream is active and buffering
     */
    buffering() {
      // Note that this function may be called when the audio isn't loaded yet. Return false in that case.
      return this.activeStationUrl ? this.$refs.controller.buffering : false
    },
    /**
     * @returns true if an audio stream is active and playing
     */
    playing() {
      return this.activeStationUrl ? this.$refs.controller.playing : false
    },
    /**
     * @returns true if an audio stream is active but broke down
     */
    errorred() {
      return this.activeStationUrl ? this.$refs.controller.errorred : false
    },
  },
  watch: {
    activeLiveChannel: function (newValue) {
      if (newValue) {
        // New stream passed in?
        VrtApi.getStreamForChannel(newValue.id).then(
          url => {
            this.activeStationUrl = url
          }
        )
      } else {
        // Stream got cleared?
        this.activeStationUrl = null
      }
    }
  }
}
</script>
