<template>
  <v-app>
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      width="220"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :to="item.to"
          :key="i"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
      dark
      class="topbar"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <img src="@/assets/nirplay_dark_140.png" class="logo" v-bind:attr="title" v-bind:title="title">
      <v-toolbar-title v-text="$route.meta.title" class="hidden-xs-only"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view v-page-title="$route.meta.title + ' | Nirplay'" />
    </v-content>
    <LivePlayer :activeLiveChannel="activeLiveChannel" />
  </v-app>
</template>

<style scoped>
.topbar .logo {
  height: 75%;
}
</style>

<script>
import LivePlayer from '@/components/LivePlayer.vue'

export default {
  name: 'App',
  components: {
    LivePlayer,
  },
  computed: {
    activeLiveChannel () {
      return this.$store.state.activeLiveChannel
    }
  },
  data () {
    return {
      clipped: true,
      // null = let the v-navigation-drawer decide whether the drawer is visible on page load,
      // depending on the size of the viewport (mobile = no, desktop = yes).
      drawer: null,
      fixed: false,
      items: [{
        icon: 'record_voice_over',
        title: 'Luister live',
        to: '/',
      }, {
        icon: 'info',
        title: 'Over',
        to: '/about',
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Nirplay'
    }
  }
}
</script>
